<script src="~/lib/chartjs/Chart.min.js" asp-append-version="true"></script>
<script src="~/lib/chartjs/chartjs-plugin-colorschemes.min.js" asp-append-version="true"></script>
<script src="~/js/Summaries/Index.js" asp-append-version="true"></script>

<div class="uk-margin uk-flex">
    <div class="uk-inline">
        <span class="uk-form-icon" uk-icon="icon: calendar"></span>
        <input id="reference-date" class="uk-input uk-form-width-medium flatpicker-calendar" type="date" value=@ViewBag.today>
    </div>

    <button id="reload-button" class="uk-button uk-button-primary" uk-icon="icon: refresh"></button>
</div>
<hr>
<div id="summary">
    <div class="uk-flex uk-flex-between uk-flex-middle uk-margin-medium-left">
        <h3>総件数：<span id="total-count">0</span>件</h3>
        <div id="display-swicher" class="uk-margin-medium-right">
            <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                <li><a href="#" class="today">今日</a></li>
                <li><a href="#" class="weekly">週次</a></li>
                <li><a href="#" class="monthly">月次</a></li>
                <li><a href="#" class="year">年次</a></li>
            </ul>
            <input type="hidden" value="today">
        </div>
    </div>
    
    <div class="uk-flex uk-flex-around">
        <div style="width: 50%">
            <canvas id="chart" height="600" width="1000"></canvas>
        </div>
        <div class="uk-width-1-3">
            <div style="width: 40%">
                <canvas id="guest-type-chart" height="600" width="500"></canvas>
            </div>
        </div>
    </div>

</div>