<!-- 問合せ検索用モーダル -->
<div id="modal-inquiry-search" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <form class="inquiry-search-form uk-margin-bottom">
            <div class="uk-form-controls inquiry-search-form-input">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: hashtag"></span>
                    <input type="text" class="uk-input inquiry-search-id">
                </div>
                <div class="uk-inline uk-margin-left">
                    <span class="uk-form-icon" uk-icon="icon: receiver"></span>
                    <input type="tel" class="uk-input inquiry-search-telephone-number" maxlength="13" pattern="\d{1,5}-\d{1,4}-\d{4,5}">
                </div>
            </div>

            <div class="uk-button-group">
                <button type="button"  id="inquiry-search-button" class="uk-button uk-button-default"><span uk-icon="search"></span></button>
                <button type="button" id="modal-inquiry-search-clear-button" class="uk-button uk-button-default">クリア</button>
            </div>
        </form>
        <div class="uk-modal-body uk-padding-remove-vertical" uk-overflow-auto>
            <table id="modal-inquiry-search-result" class="uk-table uk-table-striped uk-table-hover uk-table-small">
                <thead>
                    <tr>
                        <th class="inquiry-datetime">着信日時</th>
                        <th class="inquiry-company-name">問合せ元</th>
                        <th class="inquirer-name">担当者</th>
                        <th class="inquiry-question">問合せ</th>
                        <th class="inquiry-answer">回答</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dummy-row stealth">
                        <td class="inquiry-datetime">
                            <input type="hidden" class="inquiry-id">
                        </td>
                        <td class="inquiry-company-name"></td>
                        <td class="inquirer-name"></td>
                        <td class="inquiry-question"></td>
                        <td class="inquiry-answer"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="uk-button uk-button-default uk-modal-close">閉じる</button>
        </div>
    </div>
</div>