/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.content-area {
  padding-top: 70px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.nav-color {
  background-color: #706fd3;
  /* background-color: #58b19f; */
  /* background-color: #8c7ae6; */
}

h3.system-title {
  color: white;
  margin: 0 0 0 0;
}

a.menu-title {
  color: white !important;
}

a.menu-title:hover {
  color: #fff462 !important;
}

.width-100 {
  width: 100%;
}

.stealth {
  display: none !important;
}

.align-left {
  text-align: left;
}

#summary .switcher ul {
  height: 20px;
  width: 100%;
}


#inquiry-search-area {
  margin: 0 auto;
  height: 60px;
  width: 100%;
}

#inquiry-search-area .inquiry-add-button {
  margin-left: 50px;
}

#inquiry-list .inquiry-id {
  width: 70px;
}

#inquiry-list .inquiry-list-line:hover {
  cursor: pointer;
}

#inquiry-list .incoming-dated {
  width: 150px;
}

#inquiry-list .company-name {
  width: 230px;
}

#inquiry-list .inquirer-name {
  width: 150px;
}

#inquiry-list .telephone-number {
  width: 150px;
}

#inquiry-list .system-name {
  width: 150px;
}

#inquiry-list .respondent {
  width: 200px;
}

#inquiry-list .question {
  width: 450px;
}

#inquiry-list .answer {
  width: 450px;
}

#inquiry-input-form {
  width: 1000px;
}

#inquiry-input-form .datetime-input-field {
  width: 200px;
}

#inquiry-input-form .select-box-field {
  width: 260px;
}

#inquiry-input-form .line-input-text-field {
  width: 700px;
}

#inquiry-input-form .textarea-input {
  width: 900px;
}

#inquiry-input-form .telephone-number {
  width: 260px;
}

#inquiry-input-form .inquiry-relation {
  width: 590px;
}


#inquiry-input-form .form-under-buttons {
  display: flex;
  justify-content: flex-end;
}

#modal-inquiry-search .inquiry-search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#modal-inquiry-search .inquiry-search-form-input {
  display: flex;
  align-items: flex-start;
}

#modal-inquiry-search .inquiry-search-id {
  width: 150px;
}

#modal-inquiry-search .inquiry-search-telephone-number {
  width: 260px;
}

#modal-inquiry-search-result .inquiry-datetime {
  width: 130px;
}

#modal-inquiry-search-result .inquiry-company-name {
  width: 200px;
}

#modal-inquiry-search-result .inquirer-name {
  width: 130px;
}

#modal-inquiry-search-result .inquiry-question {
  width: 370px;
}

#modal-inquiry-search-result .inquiry-answer {
  width: 370px;
}


#inquiry-detail-table {
  width: 1500px;
  margin: 0 auto;
}

#inquiry-detail-table th {
  width: 250px;
}

#inquiry-detail-table td {
  width: 500px;
}

.call-register {
  width: 460px !important;
}

.call-register p {
  line-height: 30px;
}